*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
  
}
/*fejléc*/

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  z-index: 1000;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

header a{
  text-decoration: none;
}
header .logo i{
  padding-right: .5rem;
  color: red;
}

header .navbar{
  width: 45%;
 
}

header .navbar ul{
  z-index: 1000;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header .navbar ul li{
  list-style: none;
}

header .navbar ul li a{
  font-size: 2rem;
  margin-left: 2rem;
  color: #666;
  text-decoration: none;
}

header .navbar ul li a:hover{
  color: red
}

#menu-bar{
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  display: none;
}

.home{
  background: url(pics/table-top-with-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.content{
  padding-top: 6rem;
  flex: 1 1 40rem
}

.content p{
  font-size: 1.8rem;
  padding: 2rem;
}
.content span{
  color: red;
}
.content h2{
  font-size: 6rem;
  margin: 1rem;
}

.content button{
  margin-left: 3rem;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.image {
  flex: 1 1 40rem;
  margin-left: 2.2rem;
 
}

.image img{
  width: 70%;
  height: auto;
  animation: float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateX(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

button .order-font{
  font-size: 2rem;
  color: #666;
}
button:hover .order-font{
  color: rgb(233, 217, 217);
}


.foods{
  height: 100%;
  width: 100vw;
  background-color: rgb(220, 223, 224);  
  padding-bottom: 3rem;
  
}
.foods .foods-head, .spec-head{
  text-align: center;
  padding-top: 3rem;
    
}
.foods .foods-head h3, .speciality .spec-head h3, .review-container h3, .contact h3{
  font-size: 8rem;
  color:  rgb(14, 3, 3);
}

.foods .foods-head h3 span, .speciality .spec-head h3 span, .review-container h3 span, .contact h3 span{
  color:red
}

.food-box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
   
}

.food-box{
  display: flex;
  flex-direction: column;
  flex: 1 1 30rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  gap: 1rem;
  margin: 1rem;
  position: relative;
  overflow: hidden ;
 
}

.food-box:hover.food-box .pics-container{
  top: 0;
}

.food-box .food-logo {
  color: red;
  font-size: 5rem;
}

.food-box .food-description{
  font-size: 2rem;
  color:  rgb(14, 6, 6);

}

.food-box .pics-container{
  position: absolute;
  overflow: hidden ;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: -100%;
  transition: .8s ease-in-out;
  
}

.food-box .pics-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.speciality{
  width: 100vw;
  height: 100%;
  background-color: rgb(220, 223, 224);
  padding-bottom: 4rem;
 
}
.spec-box-container{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  margin-top: 2rem;
}
.spec-box{
  border: 1px solid;
  padding: 2rem;
  border-color: #666;;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
 }

.spec-box img{
  width: 35rem;
  object-fit: cover;
  height: 25rem;
  border-radius: .5rem;
}

.spec-box .price{
  position: absolute;
  font-size: 2rem;
  margin-top: .5rem;
  margin-left: .5rem;
  padding: 1rem 1rem;
  background-color: rgb(226, 73, 73);
  color: #fff;
  border-radius: .5rem;
}

.spec-box-container .spec-box h3{
  text-align: center;
  color: #666;
}
.spec-box-container .spec-box .stars{
  text-align: center;
  color: rgb(167, 162, 10);
}

.spec-box-container .spec-box .order-now{
  cursor: pointer;
  width: 8rem;
  padding: .5rem;
  border: 1px solid #666;
  border-radius: .5rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.spec-box-container .spec-box .order-now:hover{
  background-color: rgb(226, 73, 73);
  color: #fff;
}
.review{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-container{
  width: 100vw;
  display: flex;
  flex-direction: column;

}

.review-container h3{
  text-align: center;
}


.review-container .image-container{
  background-color: rgb(189, 189, 189);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  display: flex;
  flex: 1 1 35rem;
  justify-content: center;
  align-items: center;
  width: 100vw;
  

}

.image-container .img-size{
  width: 50vw;
  height: 30vh;
}

.review-container .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  
   
  
}
.review-container .image-container i{
  font-size: 5rem;
  margin: 2rem;
  cursor: pointer;
  color: rgba(0,0,0,.4)
}

.review-container .description{
  font-size: 2rem;
  color: #666;
  margin: 0 auto;
  margin-top: 4rem;
  width: 60%;
  
}

.form-label{
  font-size: 2rem;
}

.mb-3-container{
  height: 40vh;
  width: 40vw;
}
.mb-3-text{
  height: 80%;
}


.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-container{
  margin-top: 2rem;
  font-size: 6rem;
  cursor: pointer;
  color: #666;
}
.social-container i:hover{
  color: red;
}

.end-description{
  width: 60vw;
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.footer{
  width: 100vw;
 
  background-color: rgb(189, 189, 189);
  padding: 1rem;

}

.p-container{
  width: 80%;
  margin: 1.5rem auto;
  font-size: 1.2rem;
  
}




/* media queries */

@media (max-width: 991px) {
  html{
     font-size: 55%;
  }
  header{
    padding: 2rem;
  }
}

@media (max-width: 768px){
  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    z-index: 1000;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: .8s ease-in-out;
  }

 

  /* show-on/off-menu*/
  
  header .navbar.showMenu{
    display: block;
    
  }
  
  header .navbar ul  {
    display: block;
     
  }

  header .navbar ul li{
    margin: 1.5rem;
    padding: 1.5rem;
    border: .2rem solid rgba(0,0,0,.1);
    border-left: .5rem solid red;
  }
  header .navbar ul li a{
    padding: 2rem
  }

  .foods{
    height: 100%;
  }
}
